* {
    /*
     * border: 1px solid black;
    */
}

body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    overflow: hidden;
}

.title-h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 10%;
}

/*
 * Navigation Bar
*/

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.title-navbar {
    padding: 0 0 4.5rem;
}

.title-nav-bar-item {
    padding: 0 1.125rem;
}

.title-nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/*
 * Download Buttons
*/

/*
 * Add margin instead of padding because padding would affect space inside button
*/
.download-button {
    margin: 5% 3% 5% 0;
}

/*
 * Title Image
*/

.title-image {
    margin: 5%;
    width: 60%;
    transform: rotateZ(25deg);
    position: absolute;
    top: 0;
    right: 30%;
}

/*
* features Section
*/

#features {
    text-align: center;
}

#features h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

#features p {
    color: #8f8f8f
}

#features span {
    font-size: 5rem;
    color: #ef8172;
}

#features span:hover {
    color: #ff4c68;
}
