* {
    /*
     * border: 1px solid black;
    */
}

body {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-h1 {
    font-weight: 900;
    font-size: 3.5r8em;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}
